//highlight-background = #fff
$highlight-current-line: rgba(239, 239, 239, 1);
$highlight-selection: rgba(214, 214, 214, 1);
$highlight-foreground: rgba(77, 77, 76, 1);
$highlight-comment: rgba(142, 144, 140, 1);
$highlight-red: rgba(200, 40, 41, 1);
$highlight-orange: rgba(245, 135, 31, 1);
$highlight-yellow: rgba(234, 183, 0, 1);
$highlight-green: rgba(113, 140, 0, 1);
$highlight-aqua: rgba(62, 153, 159, 1);
$highlight-blue: rgba(66, 113, 174, 1);
$highlight-purple: rgba(137, 89, 168, 1);

pre, code {
  font-family: $FontMono;
  color: $highlight-foreground;
  background: #eee;
  font-size: 0.95em;
}

code {
  padding: 0 5px;
}

pre {
  padding: 10px 15px;
  line-height: 22px;
  code {
    border: none;
    display: block;
    padding: 0;
  }
}

.highlight {
  background: #eee;
  padding: 10px 15px;
  color: $highlight-foreground;
  overflow: auto;
  margin: 0;
  table {
    margin: 0 !important;
    border: 0;
    th, td {
      padding: 0;
    }
  }
  figcaption {
    //clearfix();
    &:before
    &:after  {
      content: "";
      display: table;
    }
    &:after {
      clear: both;
    }
    // end clearfix()
    margin: -5px 0 5px;
    font-size: 0.9em;
    color: $colorGray;
    a {
      float: right;
    }
  }
  pre {
    padding: 0;
    border: none;
    background: none;
  }
  .line {
    height: 22px;
  }
}


pre {
  .comment
  .title {
    color: $highlight-comment;
  }
  .variable
  .attribute
  .tag
  .regexp
  .ruby .constant
  .xml .tag .title
  .xml .pi
  .xml .doctype
  .html .doctype
  .css .id
  .css .class
  .css .pseudo {
    color: $highlight-red;
  }
  .number
  .preprocessor
  .built_in
  .literal
  .params
  .constant {
    color: $highlight-orange;
  }
  .class
  .ruby .class .title
  .css .rules .attribute {
    color: $highlight-green;
  }
  .string
  .value
  .inheritance
  .header
  .ruby .symbol
  .xml .cdata {
    color: $highlight-green;
  }
  .css .hexcolor {
    color: $highlight-aqua;
  }
  .function
  .python .decorator
  .python .title
  .ruby .function .title
  .ruby .title .keyword
  .perl .sub
  .javascript .title
  .coffeescript .title {
    color: $highlight-blue;
  }
  .keyword
  .javascript .function {
    color: $highlight-purple;
  }
}
