@import "formReset";
@import "colors";
@import "fonts";
@import "header";
@import "sidebar";
@import "footer";
@import "_variables";
@import "base";
@import "archive";
@import "highlight";
@import "index";
@import "page";
@import "popup";



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, big, cite, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: $InterUI;
  font-weight: 400;
  line-height: 1;
  color: $colorBlack;
  background:$colorBg;
  text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   background-color: $colorBg;
   font-size: 16px;
   line-height: 24px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

.secondary-text {
  color: $colorGray;
  font-size: 16px;
  line-height: 26px;
}

.link-arrow {
  color: $colorBlue;
  position: relative;
}

.link-arrow::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  display: block;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: top right;
  padding: 0 8px 0 8px;
  top: -2px;
  right: -24px;
  background-image: url(../img/link-arrow.svg);
  transition: transform .2s ease;
  opacity: .4
}

.link-arrow:hover::after{
  transform: translate3d(4px, 0, 0)
}

.home-wrap {
  position: relative;
  background-color: $colorWhite;
  align-content: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  z-index: 999;
  padding: 0 20px;
}

.cards {
  display: flex;
  width: 100%;
}

.cards .card {
  width: 100%;
}

.cards.cards--three {
  flex-wrap: wrap;
}

.cards.cards--three .card {
  width: 33.3%;
}

.cards.cards--three .card-inner {
  margin: 12px;
}

.cards.cards--three .card:nth-child(3n+1) .card-inner { /* 1, 4, 7...*/
  margin-left: 0
}

.cards.cards--three .card:nth-child(3n+3) .card-inner { /* 3, 6, 9...*/
  margin-right: 0
}

.cards.cards--three .card:nth-child(1) .card-inner,
.cards.cards--three .card:nth-child(2) .card-inner,
.cards.cards--three .card:nth-child(3) .card-inner {
  margin-top: 0;
}

.cards.cards--three .card:nth-last-child(3) .card-inner,
.cards.cards--three .card:nth-last-child(2) .card-inner,
.cards.cards--three .card:nth-last-child(1) .card-inner {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: $colorBlue;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6em;
}

h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6em;
}

h5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $colorGray;
  font-weight: 500;
  font-size: 14px;
}



.button, a.button {
	display: block;
  font-family: $InterUI;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $colorWhite;
  padding: 10px 32px 9px;
  border-radius: 22px;
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: 500;
  line-height: normal;

}

.button:hover, a.button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.button.button--light, a.button.button--light {
  background-color: rgba(54, 55, 99, 0.1);
}

.button.button--light:hover, a.button.button--light:hover {
  background-color: rgba(54, 55, 99, 0.2);
}


q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div {
  box-sizing: border-box;
}

#general-menu {
  position: relative;
  display: flex;
  max-width: 1240px;
  padding: 0 20px;
  height: 56px;
  box-sizing: border-box;
  justify-content: space-between;
  margin: 24px auto;
  width: 100%;
  z-index: 9;
  align-items: center;
  @media screen and (max-width: $break-xl) {
    margin: 14px auto;
  }
  .header-left {
    width: 100%;
    display: flex;
    .logo {
      display: flex;
      margin: 0 22px 0 0;
      a {
        font-size: 27px;
        font-weight: bold;
        color: #000;
        text-decoration: none;
        display: flex;
        align-items: center;
        transition: all 0.3s ease-in-out;
        &:before {
          content: '';
          width: 148px;
          height: 56px;
          display: block;
          background-image: url("../img/logo-status.svg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          transition: all 0.3s ease-in-out;
          @media screen and (max-width: $break-xl) {
            width: 138px;
            height: 52px;
          }
        }
      }
    }
    nav {
      @media screen and (max-width: $break-xl) {
        display: none;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        height: 100%;
        li {
          position: relative;
          a {
            text-decoration: none;
            font-weight: normal;
            font-size: 14px;
            padding: 10px;
            display: flex;
            margin-right: 4px;
            color: #000;
            transition: all 0.3s ease-in-out;
            &:hover {
              opacity: .7;
            }
          }
          &.has-popup {
            display: flex;
            align-items: center;
            svg {
              margin-left: -6px;
              margin-right: 6px;
            }
          }
          &.has-submenu
            &:hover
              .sub-menu {
                opacity: 1;
                visibility: visible;
                transform: translateY(0) rotateX(0) scale(1);
              }
          .sub-menu {
            position: absolute;
            top: 100%;
            left: -8px;
            transform: translateY(-20px) rotateX(20deg) scale(0.95);
            transition: all 0.3s ease-in-out, pointer-events 0s ease-in-out;
            visibility: hidden;
            opacity: 0;
            ul {
              background: #fff;
              box-shadow: 0px 2px 4px rgba(43, 59, 71, 0.124);
              border-radius: 8px;
              list-style-type: none;
              margin: 0;
              padding: 0;
              flex-direction: column;
              align-items: flex-start;
              white-space: nowrap;
              li {
                width: 100%;
                padding-right: 50px;
                &:first-child {
                  margin-top: 20px;
                }
                &:last-child {
                  margin-bottom: 20px;
                }
                a {
                  padding: 8px 20px;
                  display: block;
                  margin: 0;
                  color: #8d99a4;
                  &:hover {
                    background: #fafafa;
                    color: black;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .btns {
    @media screen and (max-width: $break-xl) {
      display: none;
    }
    a {
      display: block;
      text-decoration: none;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 10px 32px 9px;
      border-radius: 22px;
      font-weight: 500;
      line-height: normal;
      background-color: #fff;
      color: #000;
      text-align: center;
      white-space: nowrap;
      box-shadow: 0px 2px 4px rgba(43, 59, 71, 0.124);
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: #008BAD;
        color: #fff;
      }
    }
  }
  .mobile-menu-trigger {
    display: flex;
    height: auto;
    align-self: center;
    margin-right: 6px;
    padding: 10px;
    margin-left: auto;
    display: none;
    @media screen and (max-width: $break-xl) {
      display: flex;
    }
  }
}

#general-menu-mobile {
  position: fixed;
  z-index: -100;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 0;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: none;
  transition: all 0.3s ease-in-out;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  @media screen and (max-width: $break-xl) {
    z-index: 9000;
    display: block;
  }
  .mobile-menu-container-inner {
    margin: 16px;
    background: #fff;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: calc(100vw - 32px);
    .mobile-menu-header {
      position: relative;
      padding: 16px 24px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        display: flex;
        margin: 0 22px 0 0;
        a {
          font-size: 27px;
          font-weight: bold;
          color: #000;
          text-decoration: none;
          display: flex;
          align-items: center;
          transition: all 0.3s ease-in-out;
          &:before {
            content: '';
            width: 138px;
            height: 52px;
            display: block;
            background-image: url("../img/logo-status.svg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transition: all 0.3s ease-in-out;
          }
          span {
            color: #000;
            margin-left: 10px;
            font-size: 22px;
          }
        }
      }
    }
    nav {
      padding: 24px 24px 12px 24px;
      ul {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          margin: 0;
          position: relative;
          a {
            text-decoration: none;
            font-weight: normal;
            font-size: 14px;
            display: block;
            margin: 0 -24px 0 -24px;
            padding: 16px 26px;
            color: #000;
            &:hover {
              background: rgba($colorIncubate, 0.2);
              opacity: .7;
            }
          }
          svg {
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -3px;
          }
        }
      }
    }
  }
}

#general-menu-mobile.popup--shown {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  #general-menu-backdrop {
    visibility: visible;
    opacity: 0.45;
    pointer-events: all;
    z-index: 8800;
  }
}

.general-menu-popup.popup--shown {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }

#general-menu-backdrop {
  z-index: -101;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(120, 135, 148, 0.6);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: none;
  transition: opacity 0.3s ease-in-out;
  @media screen and (max-width: $break-xl) {
    z-index: 8900;
    display: block;
  }
}

.general-menu-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9100;
  top: 0;
  left: 0;
  padding: 0 20px;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  @media screen and (max-width: $break-xl) {
    width: 100%;
    padding: 0 16px;
  }
  .general-popup-backdrop {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(120, 135, 148, 0.6);
    opacity: 0.45;
    transition: opacity 0.3s ease-in-out;
  }
  .inner {
    box-sizing: border-box;
    margin: 140px auto 16px;
    width: 100%;
    max-width: 1200px;
    background: #fff;
    border-radius: 16px;
    padding: 30px;
    position: relative;
    z-index: 2;
    @media screen and (max-width: break-md) {
      margin-top: 92px;
    }
    .close {
      position: absolute;
      top: -54px;
      right: 0;
      background: #FFFFFF;
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;
      &:hover {
        opacity: .7;
      }
    }
    h3 {
      margin: 0;
      font-size: 20px;
      color: #000000;
      line-height: normal;
    }
    .features {
      display: flex;
      list-style-type: none;
      margin: 16px 0 0 0;
      padding: 0;
      justify-content: center;
      flex-wrap: wrap;
      li {
        background: rgba($colorStatus, 0.1);
        margin-right: 20px;
        flex: 1;
        padding: 30px 30px 15px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 16px;
        @media screen and (max-width: break-md) {
          flex: auto;
          width: 100%;
          margin: 0 0 20px;
        }
        &:last-child {
          margin-right: 0;
          @media screen and (max-width: break-md) {
            margin: 0;
          }
        }
        h4 {
          margin: 25px 0 8px 0;
        }
        p {
          font-weight: normal;
          line-height: 24px;
          font-size: 16px;
          text-align: center;
          color: #939BA1;
          margin: 0;
        }
      }
    }
    h5 {
      font-weight: 500;
      line-height: normal;
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #939BA1;
      margin: 50px 0 24px;
    }
    .more {
      display: flex;
      list-style-type: none;
      margin: 16px 0 0 0;
      padding: 0;
      justify-content: center;
      flex-wrap: wrap;
      li {
        flex: 1;
        margin-right: 20px;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        border-radius: 16px;
        @media screen and (max-width: break-md) {
          flex: auto;
          width: 100%;
          margin: 0 0 40px;
        }
        &:last-child {
          margin-right: 0;
          @media screen and (max-width: break-md) {
            margin: 0;
          }
        }
        h4 {
          font-style: normal;
          font-weight: bold;
          line-height: 24px;
          font-size: 16px;
          color: #000000;
          margin: 0;
        }
        p {
          font-weight: normal;
          line-height: 24px;
          font-size: 16px;
          color: #939BA1;
          margin: 8px 0;
        }
        a {
          line-height: 24px;
          font-size: 16px;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $colorStatus;
          margin-top: auto;
          transition: all 0.3s ease-in-out;
          &:hover {
            opacity: .7;
          }
          svg {
            margin-left: 5px;
          }
        }
      }
    }
  }
}


.logo-sign {
  display: block;
  position: absolute;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
  bottom: -28px;
  text-decoration: none;
}

.logo-sign:hover, .by-status:hover {
  color: white;
}

.dropdown {
  display: flex;
  align-items: center;
  margin-left: 32px;
}

.dropdown:before, .dropdown:after {
  clear: both;
  content: "";
  display: table;
}

.dropdown nav ul li {
  float: left;
  margin: 8px;
  position: relative;
}

.dropdown nav ul li a {
  color: #000;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  padding: 10px 0;
  display: block;
}

.dropdown nav ul li a:hover {
  opacity: .7;
}

.dropdown nav ul li a:focus {
  color: rgba(255, 255,255,1);
}

.dropdown nav ul li.current a {
  text-decoration: underline;
}

.dropdown nav ul li:hover > ul {
  display: block;
}

.dropdown nav ul li ul {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(43, 59, 71, 0.124066);
  border-radius: 8px;
  list-style-type: none;
  margin: 0;
  padding: 20px;
  flex-direction: column;
}

.dropdown .has-submenu{
  position: relative;
}

.dropdown .sub-menu {
  position: absolute;
  top: 100%;
  left: -7px;
  -webkit-transform: translateY(-20px) rotateX(20deg) scale(0.95);
  transform: translateY(-20px) rotateX(20deg) scale(0.95);
  -webkit-transition: all 0.3s ease-in-out, pointer-events 0s ease-in-out;
  -moz-transition: all 0.3s ease-in-out, pointer-events 0s ease-in-out;
  -o-transition: all 0.3s ease-in-out, pointer-events 0s ease-in-out;
  transition: all 0.3s ease-in-out, pointer-events 0s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.dropdown .sub-menu.li.a{
  padding: 0;
}

.dropdown .has-submenu:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0) rotateX(0) scale(1);
  transform: translateY(0) rotateX(0) scale(1);
}

.dropdown nav ul li ul li {
  float: none;
  width: 8.125em;
}

.dropdown nav ul li ul li a:link,
.dropdown nav ul li ul li a:visited {
  color: #8d99a4;
}

.dropdown nav ul li ul li a:hover {
  color: #000;
}


.secondary-nav {
  display: flex;
  align-items: center;
  margin-left: 32px;
}

.secondary-nav .button{
  margin-right: 8px;
}

.second-nav-links {
  display: inherit;
  @media mq-mobile {
    display: none;
  }
}

.secondary-nav a {
  color: #FFFFFF;
  text-decoration: none;
}

.secondary-nav a:hover {
  opacity: .7;
}

.secondary-nav span.social-link a:hover {
  opacity: 1;
}

.secondary-nav span.social-link {
  margin: 8px;
}

.secondary-nav span.social-link a {
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.secondary-nav span.social-link a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.secondary-nav span.social-link.social-link--twitter a {
  background-image: url(../img/icon-twitter.svg);
}

.secondary-nav span.social-link.social-link--github a {
  background-image: url(../img/icon-github.svg);
}

.secondary-nav span.social-link.social-link--gitter a {
  background-image: url(../img/icon-gitter.svg);
}

.secondary-nav span:first-child {
  margin-left: 0;
}

.secondary-nav span:last-child {
  margin-right: 0;
}

@media (max-width: 1199px) {
  .header {
    width: 100%;
    left: 0;
    top: 0;
    margin: 24px 0 0 0;
    padding: 0 24px;
  }
}


.home-cover {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ECF1F2;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.intro {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 120px 0 64px;
  color: #000;
  text-align: left;
  max-width: 1200px;
  width: 100%;
  a {
    text-decoration: none;
    color: $colorIncubate;
    &:hover {
      opacity: 0.7;
    }
  }
}

.intro .button {
  width: 278px;
  margin-left: 20px;
}

.button.button--main {
  background-color: rgba(255, 255, 255, 1);
  color: #000;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(43, 59, 71, 0.25);
}

.button.button--main:hover {
  background-color: rgba(43, 59, 71, 0.124066);
  color: gba(255, 255, 255, 1);
}

.button.button--secondary {
  background-color: rgba(255, 255, 255, 1);
  color: #000;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(43, 59, 71, 0.25);
}

.button.button--secondary:hover {
  background-color: rgba(43, 59, 71, 0.124066);
  color: gba(255, 255, 255, 1);
}


.intro h1 {
  font-family: $InterUI;
  font-weight: bold;
  line-height: 40px;
  font-size: 32px;
  max-width: 600px;
  width: 100%;
  margin: 0 0 16px 20px;
}

.intro p {
  font-family: $InterUI;
  font-weight: normal;
  line-height: 24px;
  font-size: 16px;
  color: #939BA1;
  max-width: 600px;
  width: 100%;
  margin: 0 0 16px 20px;
}


@media (max-width: 991px) {
  .home-wrap {
    margin: 400px 0 0 0;
  }
}

.clear {
  clear: both;
}

pre {
  background-color: white;
  padding: 0px;
}

pre.code {
  padding: 1em !important;
  border-radius: 8px;
  font-size: 1em;
}

.wrap {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.forward-text {
  width: 60%;
  padding: 100px 20px;
  text-align: left;
  float: left;
  display: block;
  h2 {
    font-size: 26px;
    font-family: $InterUI;
    font-weight: bold;
    color: #000000;
    margin-bottom: 24px;
  }
  p {
    font-weight: normal;
    line-height: 25px;
    font-size: 16px;
    color: #939BA1;
  }
}

.forward-img {
  float: left;
  display: block;
  width: 40%;
  padding: 100px;
}

.feature {
  width: 33%;
  float: left;
  display: block;
  padding: 100px 40px 100px 20px;
  height: 400px;
  flex-wrap: wrap;
  img {
    margin-bottom: 20px;
    height: 38px;
  }
  h3 {
    font-weight: bold;
    line-height: 25px;
    font-size: 16px;
    color: #000000;
    margin-bottom: 8px;
  }
  p {
    line-height: 25px;
    font-size: 16px;
    color: #939BA1;
  }
}

footer {
  color: #7D7F88;
  background: #262A39;
  padding: 60px 0;
  position: relative;
  z-index: 9;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    a {
      text-decoration: none;
    }
    .info {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
      display: flex;
      flex-direction: column;
    }
    .social-links {
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
      margin-left: auto;
    }
    .more {
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
  }
}

@media (max-width: 991px) {
  .section-header {
    margin: -30px auto 0 auto;
  }

  .intro {
    padding: 50px 16px;
  }

  .command-wrap {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  .command {
    border-radius: 0;
    font-size: 18px;
  }

  #content-inner {
    flex-direction: column;
    #sidebar {
      padding: 20px 0;
      margin-left: -14px;
      .inner {
        flex-wrap: nowrap;
        display: flex;
        overflow: auto;
        white-space: nowrap;
        width: calc(100% + 20px);
        a {
          padding: 9px 14px;
          margin-bottom: 0;
        }
      }
    }
  }

  .article {
    padding: 0;
    .inner {
      padding: 0;
    }
  }

  footer .container {
    .social-links {
      flex: 0 0 20%;
      max-width: 20%;
    }
    .more {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
}


@media (max-width: 767px) {
  .forward-text {
    width: 100%;
    padding: 100px 20px;
  }
  .forward-img {
    text-align: center;
    width: 100%;
    padding: 100px 0px;
  }
  .feature {
    height: 470px;
  }
}

@media (max-width: 560px) {
  .feature {
    width: 50%;
    height: 450px;
  }
}

@media (max-width: 391px) {
  .feature {
    width: 100%;
    padding: 30px;
    height: 340px;
  }
}

@media (max-width: 767px) {
  .home-cover {
    position: relative;
    height: auto;
  }
  .home-wrap {
    margin-top: 30px;
  }
  .intro-buttons {
    flex-wrap: wrap;
    justify-content: center;
    .button {
      margin-bottom: 16px;
    }
  }
  footer .container {
    flex-direction: column-reverse;
    text-align: center;
    p {
      margin-top: 10px;
    }
    ul li {
      margin-bottom: 16px;
    }
    .info {
      flex: 0 0 100%;
      max-width: 100%;
      align-items: center;
      margin-top: 50px;
      .blog-logo a span {
        display: none;
      }
    }
    .social-links {
      flex: 0 0 100%;
      max-width: 100%;
      margin-left: 0;
      margin-top: 30px;
      .community {
        width: 130px;
        text-align: left;
        margin: 0 auto;
      }
    }
    .more {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

@media (max-width: 800px) {

  .cards.cards--three .card {
    width: 50%;
  }

  .cards.cards--three .card:nth-child(3n+1) .card-inner { /* 1, 4, 7...*/
    margin: 12px;
  }

  .cards.cards--three .card:nth-child(3n+3) .card-inner { /* 3, 6, 9...*/
    margin: 12px;
  }

  .cards.cards--three .card:nth-child(odd) .card-inner {
    margin-left: 0
  }

  .cards.cards--three .card:nth-child(even) .card-inner {
    margin-right: 0
  }

  .cards.cards--three .card:nth-child(1) .card-inner,
  .cards.cards--three .card:nth-child(2) .card-inner {
    margin-top: 0;
  }

  .cards.cards--three .card:nth-child(3) .card-inner {
    margin-top: 12px;
  }

  .cards.cards--three .card:nth-last-child(3) .card-inner,
  .cards.cards--three .card:nth-last-child(2) .card-inner {
    margin-bottom: 0;
  }

  .cards.cards--three .card:nth-last-child(1) .card-inner {
    margin-bottom: 12px;
  }

  .cards.cards--three.cards--three--even .card {
    width: 100%;
  }

  .cards.cards--three.cards--three--even .card:nth-child(odd) .card-inner {
    margin-left: 0;
    margin-right: 0;
  }

  .cards.cards--three.cards--three--even .card:nth-child(even) .card-inner {
    margin-right: 0;
    margin-left: 0;
  }

  .cards.cards--three.cards--three--even .card:nth-child(1) .card-inner {
    margin-top: 0;
  }

  .cards.cards--three.cards--three--even .card:nth-child(3) .card-inner,
  .cards.cards--three.cards--three--even .card:nth-child(2) .card-inner {
    margin-top: 12px;
  }

  .cards.cards--three.cards--three--even .card:nth-last-child(3) .card-inner,
  .cards.cards--three.cards--three--even .card:nth-last-child(2) .card-inner {
    margin-bottom: 12px;
  }

  .cards.cards--three.cards--three--even .card:nth-last-child(1) .card-inner {
    margin-bottom: 0;
  }
}

@media (max-width: 520px) {

  .cards.cards--three .card {
    width: 100%;
  }

  .cards.cards--three .card:nth-child(odd) .card-inner {
    margin-left: 0;
    margin-right: 0;
  }

  .cards.cards--three .card:nth-child(even) .card-inner {
    margin-right: 0;
    margin-left: 0;
  }

  .cards.cards--three .card:nth-child(1) .card-inner {
    margin-top: 0;
  }

  .cards.cards--three .card:nth-child(3) .card-inner,
  .cards.cards--three .card:nth-child(2) .card-inner {
    margin-top: 12px;
  }

  .cards.cards--three .card:nth-last-child(3) .card-inner,
  .cards.cards--three .card:nth-last-child(2) .card-inner {
    margin-bottom: 12px;
  }

  .cards.cards--three .card:nth-last-child(1) .card-inner {
    margin-bottom: 0;
  }

  .section-header h2 {
    font-size: 23px;
  }

}

.team-name {
  margin: 12px 0 0 0 !important;
}

.team-position {
  margin: 0 0 12px 0 !important;
}


/* Code Highlighting */

code.hljs {
  background-color:#EEF2F5;
  padding: 20px 40px;
  font-size:16px;
  line-height:24px;
  border-radius:8px;
}

.hljs-comment,.hljs-quote {
  color:#6b7394;
}

.hljs-variable,.hljs-template-variable,.hljs-attribute,.hljs-tag,.hljs-name,.hljs-regexp,.hljs-link,.hljs-name,.hljs-selector-id,.hljs-selector-class {
  color:#c94922;
}

.hljs-number,.hljs-meta,.hljs-built_in,.hljs-builtin-name,.hljs-literal,.hljs-type,.hljs-params {
  color:#c76b29;
}

.hljs-string,.hljs-symbol,.hljs-bullet {
  color:#ac9739;
}

.hljs-title,.hljs-section {
  color:#3d8fd1;
}

.hljs-keyword,.hljs-selector-tag {
  color:#6679cc;
}

.hljs {
  display:block;
  overflow-x:auto;
  background:#f5f7ff;
  color:#5e6687;
  padding:0.5em;
}

.hljs-emphasis {
  font-style:italic;
}

.hljs-strong {
  font-weight:bold;
}

.latest-posts{
  .post{
    margin-bottom: 24px;
    h4{
      a{
        color: #000;
        transition: color .1s ease;
        &:hover{
          color: #4360df;
        }
      }
    }
    time{
      font-weight: normal;
      line-height: normal;
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #939BA1;
      margin-bottom: 5px;
      display: block;
    }
  }
}
