@import url('https://rsms.me/inter/inter-ui.css');
@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 400;
  src: url("../fonts/Inter-UI-Regular.woff2") format("woff2"),
       url("../fonts/Inter-UI-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 400;
  src: url("../fonts/Inter-UI-Italic.woff2") format("woff2"),
       url("../fonts/Inter-UI-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 500;
  src: url("../fonts/Inter-UI-Medium.woff2") format("woff2"),
       url("../fonts/Inter-UI-Medium.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 500;
  src: url("../fonts/Inter-UI-MediumItalic.woff2") format("woff2"),
       url("../fonts/Inter-UI-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 700;
  src: url("../fonts/Inter-UI-Bold.woff2") format("woff2"),
       url("../fonts/Inter-UI-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 700;
  src: url("../fonts/Inter-UI-BoldItalic.woff2") format("woff2"),
       url("../fonts/Inter-UI-BoldItalic.woff") format("woff");
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('../fonts/GTWalsheim-Bold.woff2') format('woff2'),
        url('../fonts/GTWalsheim-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

// Config
$support-for-ie: false;
$vendor-prefixes: webkit moz ms official;

// Layout
$max-width: 1200px;
$gutter-width: 20px;
$sidebar-width: 30%;
$mobile-nav-width: 260px;

// Media queries
$mq-mobile: "screen and (max-width: 819px)";
$mq-normal: "screen and (min-width: 820px)";
$mq-tablet: "screen and (min-width: 480px)";

$break-sm: 575;
$break-md: 767px;
$break-lg: 991px;
$break-xl: 1199px;
$status: #4360df;
